.title {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.bannerContainer {
  text-align: center;
  margin: 30px auto;
}

.bottonContainer {
  width: 30%;
  margin: auto;
}

.button {
  width: 100%;
  padding: 12px 16px;
  font-size: 24px;
  border-radius: 8px;
  background-color: #457b9d;
  color: white;
  cursor: pointer;
}

.quizContainer {
  width: 70%;
  margin: 40px auto 0px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.question {
  margin-bottom: -20px;
}

.option {
  margin: 20px auto;
  font-size: 18px;
  background-color: #457b9d;
  padding: 12px 16px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
}

.correctOption {
  background-color: #52b788;
}
